.navbar {
	background: none;
	border: 0;
}

.navbar .navbar-collapse {
	border: 0;
}

body,html{
	height:100%;
	margin:0;
	font-weight: 400;
	font-size: 16px;
	font-family: "Lato", sans-serif;
	color:#666;
}

.nav.navbar-nav li a {
    color: #fff;
    text-shadow: 0 0 5px black, 0 0 10px #000080, 0 0 20px #6CEBFC;
    /*text-shadow: 0 0 5px black, 0 0 10px #000080, 0 0 20px #6CEBFC, 0 0 30px #6CEBFC, 0 0 40px #6CEBFC, 0 0 55px #6CEBFC, 0 0 75px #6CEBFC;*/
}

.nav.navbar-nav li a:hover{
	color:#D5D5D5;
}

.navbar-header img {
	height:40px;
	margin: 5px;
}

.pimg1 {
	background-image: url(vYEocYv.gif);
	min-height: 100%;
	position:relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.Media {
	font-size: 45px;
}

.Media a {
	text-decoration: none;
	color:#fff;
	opacity: 0.6;
}

.Media a:hover{
	color:#fff;
	opacity: 1;
}

.fa-linkedin-in:hover, .fa-github:hover, .fa-envelope:hover {
	font-size: 50px;
}

.section {
	text-align: center;
	padding: 50px 80px;
}

.section-light{
	background-color: #f4f4f4;
	color:#666;
}

.ptext {
	position:absolute;
	top:40%;
	text-align: center;
	width: 100%;
	font-size: 27px;
	letter-spacing: 8px;
	text-transform: uppercase;
	line-height: 1.8em;
}

.ptext .border {
 background-color: #111;
 color: #fff;
 padding: 20px 10px;
 /*opacity: 0.9;*/
}


.pimg2 {
	background-image: url(GeEuGfe.gif);
	min-height: 400px;
	position:relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.section-dark {
	background-color:#282e34;
	color:#ddd;
	overflow: hidden;
}

.card, .card2, .card3 {
	padding: 10px 10px;
	background-color: white;
	color: grey;
	width: 20%;
	height: 140px;
	opacity: 0.8;
}

.card:hover, .card2:hover, .card3:hover {
	opacity: 1;
}

.gImg {
	height: 20px;
}

.parent {
	padding-top: 50px
	overflow: hidden;
}

.card {
	float: left;
}

.card2 {
	float: left;
	margin-left: 5px;
}

.card3 {
	float: left;
	margin-left: 5px;
}

.card-title:hover {
	text-decoration: underline;
}

.panda {
	background-image: url(8f1bde13c1d9744c5b69ecdc82fdd128458c6441_hq.gif);
	background-repeat: no-repeat;
	background-size: contain;
	height:32%;
	background-position: right; 
}

.GitHub {
	transform: translateX(-220px);
	margin-top: -60px;
}
