.navbar {
	background: none;
	border: 0;
}

.navbar .navbar-collapse {
	border: 0;
}

#Projects, #About{
	font-family: 'Courier New', Courier, monospace;
}

body,html{
	height:100%;
	margin:0;
	font-weight: 400;
	font-size: 16px;
	font-family: "Lato", sans-serif;
	color:#666;
}

.nav.navbar-nav li a {
    color: #fff;
    text-shadow: 0 0 5px black, 0 0 10px #000080, 0 0 20px #6CEBFC;
}

.nav.navbar-nav li a:hover{
	color:#D5D5D5;
}

.navbar-header img {
	height:40px;
	margin: 5px;
}

.divVideo{
	height: 100%;
	width: 100%;
}

#manulife-bank{
	width: 16px;
	height: 16px;
	vertical-align: middle;
}

.Video {
    position: fixed;
    z-index: -100;
    background-size: cover;
	transition: 1s opacity;
}

.pimg2 {
	background-image: url(bike.jpg);
	min-height: 400px;
	position:relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.divVideo{
	height: 100%;
	width: 100%;
}

.Video {
    position: fixed;
    z-index: -100;
    background-size: cover;
	transition: 1s opacity;
}

.Media {
	font-size: 45px;
	stroke: black;
  stroke-width: 5;

}

.fa-linkedin-in{
	margin-bottom: 5px;
}
.Media a {
	text-decoration: none;
	color:#fff;
	opacity: 0.6;
}

.Media a:hover{
	color:#fff;
	opacity: 1;
}

.MyPic {
	width: 100px;
	height: 100px;
	position: absolute;
	border-radius: 50%;
	top: 36%;
	margin-left: 31%;
	border: 2px solid #fff;
    border-top-color: rgb(255, 255, 255);
    border-top-style: solid;
    border-top-width: 2px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: solid;
    border-right-width: 2px;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color: rgb(255, 255, 255);
    border-left-style: solid;
    border-left-width: 2px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial
}

@media screen and (max-width: 600px){
	.MyPic{
		max-width: 120px;
		max-height: 120px;
		position: absolute;
		top:13%;
		border-radius: 50%;
		margin-left: 37%;
	}
}

.fa-linkedin-in:hover, .fa-youtube:hover, .fa-envelope:hover, .fa-instagram:hover, .fa-twitter:hover {
	font-size: 50px;
}

.section {
	text-align: center;
	padding: 50px 80px;
}

.section-light{
	background-color: #f4f4f4;
	color:#666;
}

.ptext {
	position: absolute;
	top:40%;
	text-align: center;
	width: 100%;
	font-size: 27px;
	letter-spacing: 8px;
	text-transform: uppercase;
	line-height: 1.8em;
}

.ptext .border {
 background-color: #111;
 color: #fff;
 padding: 20px 10px;
 /*opacity: 0.9;*/
}


.section-dark {
	background-color:#282e34;
	color:#ddd;
	overflow: hidden;
}

.card, .card2, .card3 {
	padding: 10px 10px 10px 10px;
	height: 140px;
	margin-right: 20px;
	margin-left: 65px;
	margin-bottom: 10px;
	background-color: white;
	color: grey;
	opacity: 0.8;
}

@media screen and (max-width: 600px){
	.card, .card2, .card3 {
		/* background-color: pink; */
		margin-left: 0px;
	}

}

.card:hover, .card2:hover, .card3:hover {
	opacity: 1;
}

.gImg {
	height: 20px;
}

.parent {
	padding-top: 50px

}


.card-title:hover {
	text-decoration: underline;
}

.foot{
	background-color: #0F1A25;
	font-size: 14px;
}

.Info{
	color:#666;
	border:none;
	border-left: 0.5px dotted #666;
	border-right: 0.5px dotted #666;
}
.GitHub {
	clear: both;
}

.heading{
	font-family: Thesans;
	/* background-color: #6CEBFC; */
	text-decoration: underline;
	color: rgb(143, 140, 125);
	font-weight: 2;
}